@import "foundicons.scss";
@import "compass/css3/transition";
@import "compass/css3/opacity";

$base: 11.25px;
$img_padding: 0px;

body, html {
	height: 100%;
}

// OVERRIDES
.top-bar ul > li.name {
	background: #222;
}
.top-bar ul > li.name h1 {
	line-height: 45px;
}

.top-bar {
	.name {
		position: relative;
	}
	.title {
		font-size: 24px;
		padding: 0 15px;
	}
	.status {
		font-size: 20px;
		padding: 0 15px;
		line-height: 45px;
		margin: 0;
		width: 800px;
	}
	.name > *, .toggle-topbar {
		position: absolute;
		@include opacity(0);
		@include single-transition(opacity, 0.25s, ease-in-out);
	}
	.show {
		@include opacity(1);
	}
}

#loading .columns {
	text-align: center;
	padding: $base*4 0;
}

#photos .column {
	padding: 0 8px;
	width: 100%;
}

.column, .columns {
	padding: 0;
}

#photos-list li {
	background: url(/images/loading_sml.gif) center center no-repeat;
}

.block-grid {
	&.one-up, .two-up, &.three-up, &.four-up, &.five-up, &.six-up, &.seven-up, &.eight-up, &.nine-up, &.ten-up, &.eleven-up, &.twelve-up {
		li { padding: 0; }
	}
}
.block-grid img {
	display: block;
	width: 200px;
	height: auto;
}



#darkroom {
	background-color: #000000;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -9999;
	overflow: hidden;
	@include opacity(0);
	@include single-transition(opacity, 0.25s, linear);

	&.show {
		@include opacity(1);
	}
	.stage {
		position: relative;
		text-align: center;
		height: 100%;
		width: 100%;
	}
	img {
		max-height: 100%;
		max-width: 100%;
		vertical-align: middle;
	}
	#controls {
		position: absolute;
		bottom: 0;
		width: 100%;
		margin: 0;
		background-color: rgba(0,0,0,0.75);

		li {
			width: (100%/3);
			float: left;
			list-style: none;
			text-align: center;
		}
		a {
			line-height: 1.5em;
			font-size: 2em;
		}
	}
}



// We aren't saving any bandwidth, but at least it looks nice.
@media only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	#loading img {
		height: 64px;
		width: 64px;
	}
}



// mobile
@media only screen and (max-width: 480px) {
	#photos-list>li {
		width: 16.66667%;
		&:nth-child(3n+1) { clear: none; }
		&:nth-child(4n+1) { clear: none; }
		&:nth-child(8n+1) { clear: none; }
		&:nth-child(6n+1) { clear: both; }
	}
}
@media only screen and (max-width: 320px) {
	#photos-list>li {
		width: 25%;
		&:nth-child(3n+1) { clear: none; }
		&:nth-child(6n+1) { clear: none; }
		&:nth-child(8n+1) { clear: none; }
		&:nth-child(4n+1) { clear: both; }
	}
}
@media only screen and (max-width: 240px) {
	#photos-list>li {
		width: 33.33334%;
		&:nth-child(4n+1) { clear: none; }
		&:nth-child(6n+1) { clear: none; }
		&:nth-child(8n+1) { clear: none; }
		&:nth-child(3n+1) { clear: both; }
	}
}